services:
  postgres:
    image: postgres:15
    container_name: biblioteca-db
    environment:
      POSTGRES_DB: biblioteca_db
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5432:5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: biblioteca-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"

  api:
    build: .
    container_name: biblioteca-api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - elasticsearch
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/biblioteca_db
      - SPRING_ELASTICSEARCH_URIS=http://elasticsearch:9200